requests
python-dotenv
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-confluent-kafka==0.40b0
opentelemetry-exporter-otlp-proto-http
opentelemetry-instrumentation==0.41b0
confluent-kafka
protobuf
jsonschema
fastavro