flask
requests
itsdangerous==2.0.1
python-dotenv
opentelemetry-instrumentation-flask
opentelemetry-exporter-otlp
opentelemetry-distro
opentelemetry-instrumentation-logging
opentelemetry-api
opentelemetry-sdk
opentelemetry-propagator-b3